 {{> notifications}}
 
<form class="pure-form pure-form-aligned" action="" method="POST">
    <fieldset class="">
        <div class="pure-control-group">
            <label for="name">Story Title</label>
            <input id="name" name="title" type="text" placeholder="Title" required>
        </div>
        <!--<div class="pure-control-group">
            <label for="name">Description</label>
            <textarea class="pure-input" id="name" name="desc" type="textbox" placeholder="A quick description of what your story is about." required></textarea>
        </div>-->
        <div class="pure-controls2">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>